@using Microsoft.AspNetCore.Identity
@using Bloometa.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home";
}

@if (SignInManager.IsSignedIn(User))
{
    @: Signed in
}
else
{
    <div class="index center-box vertical-center">
        <h1>Welcome!</h1>
        <h2>Please <a asp-area="" asp-controller="Account" asp-action="Login">sign in</a> or <a asp-area="" asp-controller="Account" asp-action="Register">register</a> to continue.</h2>
    </div>
}