@model Bloometa.Models.TrackViewModels.CreateViewModel
@{
    ViewData["Title"] = "Start Tracking";
}
<div class="search center-box vertical-center">
    <h1>Create</h1>
    <h2>Search or Start Tracking</h2>
    <p>
        If the user you search is in our tracking database, you'll be taken to the results.
        If not, we'll grab the latest data and start tracking every day.
    </p>
    @if (!String.IsNullOrEmpty((string)ViewData["AccResponse"]))
    {
        <div class="text-danger">@ViewData["AccResponse"]</div>
    }

    <form asp-controller="Track" asp-action="Create" method="post">
        <div asp-validation-summary="All"></div>

<!--        <label asp-for="Username"></label>-->
        <input asp-for="Username" placeholder="username" />
        <span asp-validation-for="Username"></span>

<!--        <label asp-for="Network"></label>-->
        <select asp-for="Network">
            @foreach (var Item in (List<string>)ViewData["NetworkOptions"])
            {
                <option value="@Item">@Item</option>
            }
        </select>

        <span asp-validation-for="Network"></span>

        <input type="submit" value="Track / Search">
    </form>
</div>

    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
