@model Bloometa.Models.TrackViewModels.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Recently Added</h1>
<h2>Latest accounts we're now tracking.</h2>
<p>my bish is bad and boujee</p>
<table>
    <tr>
        <th>Username</th>
        <th>Network</th>
        <th>Added</th>
        <th></th>
    </tr>
    @foreach (UAccount Account in Model.Recent)
    {
        <tr>
            <td>@Account.Username</td>
            <td>@Account.Network</td>
            <td>@Account.Added</td>
            <td><a asp-area="" asp-controller="Track" asp-action="Account" asp-route-ID="@Account.AccID">View</a></td>
        </tr>
    }
</table>